<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>{{ title }}</title>
<script language="javascript">
function play(fname) {
  var player = document.getElementById('player');
  player.setAttribute('src', '{{ url_for('SnippetsView:getAudio', fname='') }}'+fname+'.audio');
  player.play();
}
</script>
    </head>
    <body>

{% if processing.count() %}
<table>
<caption>processing</caption>
        <tr><th>id</th><th>filename:lineno</th><th>snippet</th></tr>
        {% for p in processing %}
        <tr><td> <a href='{{ url_for('LogsView:get', id=p.id) }}'>{{p.id}}</a></td><td> {{'%s:%s' %(p.fname, p.lineno) }} </td><td> {{ p.snppt }} </td></tr>
        {% endfor %}
</table>
{% endif %}


{% if completed.count() %}
<audio id='player' type="audio/mpeg">WARNING: browser does not support audio elements.</audio>
<table>
<caption>completed</caption>
        <tr><th>id</th><th>filename:lineno</th><th>snippet</th></tr>
        {% for p in completed %}
        <tr><td> <a href='{{ url_for('LogsView:get', id=p.id) }}'>{{p.id}}</a></td><td onclick='play("{{ '%s-%s' %(p.fname,p.lineno) }}")'> {{'%s:%s' %(p.fname, p.lineno)}} </td><td> {{ p.snppt }} </td></tr>
        {% endfor %}
</table>
{% endif %}

{% if outstanding.count() %}
<table>
<caption>outstanding</caption>
        <tr><th>id</th><th>filename:lineno</th><th>snippet</th></tr>
        {% for p in outstanding %}
        <tr><td> <a href='{{ url_for('LogsView:get', id=p.id) }}'>{{p.id}}</a></td><td> {{'%s:%s' %(p.fname,p.lineno)}} </td><td> {{ p.snppt }} </td></tr>
        {% endfor %}
</table>
{% endif %}

    </body>
</html>

